@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap');

:root {
  --light-backG: #fbfbfb;
  --dark-grey-text: #3d3d3d;
  --light-grey: #ebebeb;
  --input-backG: #adadad;
  --input-main-stroke: #808080;
  --input-main-bckg: #adadad;
  --secret-menu-bckg: #ebebeb;
  --secret-menu-stroke: #bdbdbd;
  --border-prime: 1px solid #7dd454;
  --border-sec: 1px solid #808080;
  --secret-menu-mod: #3449ff;
  --secret-menu-switch: #ffec3e;
  --secret-menu-delete: #ff5c5c;
  --operator-modal-backG: #24249cc3;
  --header-btn-backG: #FFC165;
  --header-btn-stroke: #c39148;
  --input-modified-bckg: #8e99ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Signika', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark-grey-text);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-backG);
  gap: 24px;
}

.header-container {
  width: 100vw;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  border-radius: 0px 0px 13px 13px;
  border: 1px solid var(--input-main-stroke);
  background: var(--input-main-bckg);

  padding: 0 6px;
  gap: 6px;
}

.result-btn {
  width: 93px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--header-btn-stroke);
  background: var(--header-btn-backG);
  color: var(--dark-grey-text);
  font-family: 'Signika';
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  padding-bottom: 2px;
  font-weight: 700;
  flex:0 0 93px
}

.result-btn:hover{
  scale: 1.05;
}

.header-input {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  min-width: 160px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--input-main-stroke);
  background-color: var(--light-backG);
  color: var(--dark-grey-text);
  font-family: 'Signika';
  font-size: 28px;
  font-style: normal;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: 700;
  text-align: right;
  padding-right: 6px;
  gap: 8px;
  padding: 0 6px;
  flex:0 1 250px;
}

.header-input:focus-visible {
  outline: none;
}


.operation-btn {
  position: relative;
  width: 44px;
  height: 42px;
  border-radius: 17px;
  border: var(--border-prime);
  background: linear-gradient(135deg,
      rgba(202, 228, 39, 0.85) 0%,
      #99f66d 100%);
  color: var(--dark-grey-text);
  text-align: center;
  align-items: center;
  font-family: 'Signika';
  font-size: 28px;
  font-style: normal;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: 700;
  transition: all 200ms ease;
  flex-shrink: 0;
}

.smaller {
  width: 32px;
  height: 30px;
  border-radius: 13px;
  font-size: 22px;
}

.bigger {
  width: 64px;
  height: 60px;
  border-radius: 26px;
  font-size: 44px;
}

.operation-btn:hover {
  transform: scale(1.05);
}

.input-container {
  width: fit-content;
  position: relative;
  transition: transform 1s ease-in;
}
.input-container.disabled{
  filter:grayscale(75%) opacity(100%); 
}

.input-container.removing{
  /* transform: rotate(360deg) scale(0); */
  transform:scaleX(0);

}

.container{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-main {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  border-radius: 18px;
  border: 1px solid var(--input-main-stroke);
  background: var(--input-main-bckg);
  gap: 8px;
  padding: 0 6px;
}

.input-num {
  position: relative;
  z-index: 3;
  height: 42px;
  min-width: 100px;
  border-radius: 17px;
  border: var(--border-sec);
  color: var(--dark-grey-text);
  font-family: 'Signika';
  font-size: 28px;
  font-style: normal;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: 700;
  text-align: right;
  padding-right: 6px;
  background-color: var(--light-backG);
}

.input-num:focus-visible {
  outline: none;
}

.input-num.modified {
  background-color: var(--input-modified-bckg);
}

/* .input-num:hover {
  appearance: unset;
} */

.slider-menu-closed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 53px;
  height: 60px;
  position: absolute;
  right: -27px;
  top: 0;
  z-index: 1;
  border-radius: 0px 13px 13px 0px;
  border: solid 1px var(--secret-menu-stroke);
  background: var(--secret-menu-bckg);
  gap: 3px;
  transition: all 0.5s ease;
}

.switch-indicator {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid var(--secret-menu-stroke);
  background: var(--light-grey);
  list-style: none;
  margin-right: 6px;
  transition: all .2s ease;;
}

.off {
  opacity: 0.3;
}

.on {
  opacity: 1;
}


.switch-indicator:hover {
  opacity: 0.5;
  scale: 1.1;
}


.slider-menu-open {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 60px;
  position: absolute;
  right: -27px;
  top: 0;
  z-index: 2;
  border-radius: 13px 13px 13px 13px;
  border: solid 1px var(--secret-menu-stroke);
  background: var(--secret-menu-bckg);
  gap: 10px;
  transition: all 0.5s ease;
}

.slider-mod {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 251px;
  height: 60px;
  position: absolute;
  right: -27px;
  top: 0;
  z-index: 2;
  border-radius: 13px 13px 13px 13px;
  border: solid 1px var(--secret-menu-stroke);
  background: var(--secret-menu-mod);
  gap: 6px;
  transition: all 0.5s ease;
  padding: 0 6px;
}

.slider-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 60px;
  position: absolute;
  right: -27px;
  top: 0;
  z-index: 2;
  border-radius: 13px 13px 13px 13px;
  border: solid 1px var(--secret-menu-stroke);
  background: var(--secret-menu-bckg);
  gap: 6px;
  transition: all 0.5s ease;
  padding: 0 6px;
}

.switch-menu-btn {
  width: 64px;
  height: 32px;
  margin-right: 0;
  border-radius: 16px;
  border: 1px solid var(--secret-menu-stroke);
  background: var(--light-grey);
  transition: all 0.2s ease;
}

.switch-btn {
  width: 64px;
  height: 32px;
  margin-right: 0;
  border-radius: 16px;
  border: 1px solid var(--secret-menu-stroke);
  background: var(--secret-menu-switch);
  transition: all 0.5s ease;
}

.slider-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 60px;
  position: absolute;
  right: -27px;
  top: 0;
  z-index: 2;
  border-radius: 13px 13px 13px 13px;
  border: solid 1px var(--secret-menu-stroke);
  background: var(--secret-menu-bckg);
  gap: 6px;
  transition: all 0.5s ease;
  padding: 0 6px;
}

.delete-btn {
  width: 64px;
  height: 32px;
  margin-right: 0;
  border-radius: 16px;
  border: 1px solid var(--secret-menu-stroke);
  background: var(--secret-menu-delete);
  transition: all 0.5s ease;
}

.switch-btn:hover {
  transform: scale(1.05);
}

.switch-menu-btn:hover {
  opacity: 1;
}
/* .switch-menu-btn.off:hover {
  opacity: 1;
  filter: grayscale(0%) contrast(50%) saturate(200%);
} */

.switch-menu-btn.turnoff:hover{
  filter: grayscale(50%) contrast(70%);
}

.delete-btn:hover {
  transform: scale(1.05);
}

.delete-menu-btn:hover {
  opacity: 1;
}

.mod {
  background: var(--secret-menu-mod);
}

.switch {
  background: var(--secret-menu-switch);
}

.delete {
  background: var(--secret-menu-delete);
}

.operator-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 56px;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 4;
  border-radius: 23px 23px 23px 23px;
  border: solid 1px var(--secret-menu-stroke);
  background: var(--operator-modal-backG);
  gap: 6px;
  transition: all 250ms ease;
}

.operator-modal.smaller {
  width: 208px;
  height: 46px;
  top: 6px;
}

.hide {
  opacity: 0;
  /* visibility: hidden; */
  display: none;
  /* visibility: hidden; */
}