:root {
  --light-backG: #fbfbfb;
  --dark-grey-text: #3d3d3d;
  --light-grey: #ebebeb;
  --input-backG: #adadad;
  --input-main-stroke: #808080;
  --input-main-bckg: #adadad;
  --secret-menu-bckg-stroke: #bbb;
  --border-prime: 1px solid #7dd454;
  --border-sec: 1px solid #808080;
  --border-third: 1px solid var(--secret-menu-bckg-stroke);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-backG);
  gap: 12px;
}

.operation-btn {
  position: relative;
  width: 44px;
  height: 42px;
  border-radius: 17px;
  border: var(--border-prime);
  background: linear-gradient(
    135deg,
    rgba(202, 228, 39, 0.85) 0%,
    #99f66d 100%
  );
  color: var(--dark-grey-text);
  text-align: center;
  align-items: center;
  font-family: Consolas;
  font-size: 28px;
  font-style: normal;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: 700;
  transition: all 200ms ease;
  flex-shrink: 0;
}

.bigger {
  width: 64px;
  height: 60px;
  border-radius: 26px;
  font-size: 44px;
}

.operation-btn:hover {
  transform: scale(1.05);
}

.input-container{
  width: fit-content;
  position: relative;
}

.input-main {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 280px;
  height: 60px;
  border-radius: 18px;
  border: 1px solid var(--input-main-stroke);
  background: var(--input-main-bckg);
  gap: 8px;
  padding: 0 6px;
}

.input-num {
  position: relative;
  z-index: 3;
  height: 42px;
  min-width: 150px;
  border-radius: 17px;
  border: var(--border-sec);
  color: var(--dark-grey-text);
  font-family: Consolas;
  font-size: 28px;
  font-style: normal;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: 700;
  text-align: right;
  padding-right: 6px;
}
.input-num:focus-visible {
  outline: none;
}
.input-num:hover {
  appearance: unset;
}

.slider-menu-btn {
  width: 53px;
  height: 60px;
  position: absolute;
  right: -30px;
  top:0;
  z-index: 1;
  border-radius: 0px 13px 13px 0px;
  border: var(--border-third);
  background: var(--light-grey);
}
