@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap');

@font-face {
  font-family: "Digital-7";
  src: url('./fonts/digital-7.ttf') format('truetype');
}

:root {
  /* --light-backG: #cbcbcb; */
  --dark-grey-text: #3d3d3d;
  --app-backG: #cbcbcb;
  --light-grey: #cfc797;
  --input-main-stroke: #00000084;
  --text-color: #3d3d3d;
  --lcd-color: #fff;
  /* --secret-menu-bckg: #ebebeb; */
  --secret-menu-stroke: #b5b5b5;
  --border-main: 1px solid var(--input-main-stroke);
  /* --border-main: 2px  solid linear-gradient(red white); */
  --gap: 6px;
  --radius: 13px;
  --input-radius: 6px;
  --secret-menu-mod: #3449ff;
  --secret-menu-switch: #ffec3e;
  --secret-menu-delete: #ff5c5c;
  --input-number-bckg: #ceceb6;
  --input-number-bckg-dark: #4a4a2c;
  --input-number-bckg-light: #ceceb6;
  --input-modified-bckg: #8eb0ff;
  --input-modified-bckg-dark: #01267d;
  --input-modified-bckg-light: #8eb0ff;
  --shadow-btn: 0px 0px 6px rgba(0, 0, 0, 0.26);
  --shadow-btn2: 0px 0px 4px rgba(6, 1, 1, 0.16);

  --operation-btn: #7dd454;
  --header-btn-backG: #FFC165;
  --input-main-bckg: #adadad;
  /* --input-main-bckg: rgba(206, 206, 182, 0.7); */
  --operator-modal-backG: #24249cc3;

  --btn-shadow: inset 0px -2px 3px 3px rgba(40, 61, 80, 0.2),
    inset 0px -1px 1px rgba(203, 203, 203, 0.5),
    inset 0px -2px 2px rgba(70, 50, 40, 0.8),
    inset 0px -5px 2px rgba(86, 86, 86, 0.3),
    0px 2px 2px rgba(0, 0, 0, 0.6),
    0px 0px 6px 2px rgba(0, 0, 0, 0.05),
    0px 0px 0px 5px rgba(0, 0, 0, 0.03),
    0px 0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 2px 3px rgba(0, 0, 0, 0.1),
    0px 4px 1px 1px rgba(0, 0, 0, 0.04);
  ;

  --btn-shadow-active: inset 0px -2px 3px 3px rgba(80, 50, 40, 0.2),
    inset 0px -1px 1px rgba(51, 51, 51, 0.4),
    inset 0px -2px 2px rgba(0, 0, 0, 0.7),
    inset 0px -7px 2px rgba(0, 0, 0, 0.2),
    0px -1px 2px rgba(0, 0, 0, 0.363),
    0px -3px 6px 2px rgba(0, 0, 0, 0.23),
    0px -3px 0px 5px rgba(0, 0, 0, 0.05),
    0px -3px 6px 6px rgba(0, 0, 0, 0.1),
    0px -1px 3px rgba(125, 125, 125, 0.445),
    0px 1px 1px 1px rgba(0, 0, 0, 0.1);

  --input-texture: inset 0px -11px 30px rgba(55, 45, 35, 0.1),
    inset 0px -7px 8px rgba(78, 78, 78, 0.4),
    inset 0px -1px 1px rgba(255, 255, 255, 0.4),
    inset 0px 10px 3px rgba(255, 255, 255, 0.2),
    0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 4px 10px 2px rgba(0, 0, 0, 0.1),
    -2px -2px 2px rgba(0, 0, 0, 0.1),
    inset 1px 1px 1px rgba(255, 255, 255, 0.5),
    inset 0px 2px 2px rgba(0, 0, 0, 0.2),
    inset 1px 0px 2px rgba(0, 0, 0, 0.4),
    inset -1px 0px 2px rgba(0, 0, 0, 0.4);
  --input-modals:
    inset 0 0 1px 2px rgba(0, 0, 0, 0.3),
    inset -1px 2px 2px 1px rgba(255, 255, 255, 0.481),
    inset 1px -2px 2px 1px rgba(0, 0, 0, 0.3);
  --input-indicators:
    inset 0 0 2px 2px rgba(0, 0, 0, 0.1),
    inset -1px 2px 2px 2px rgba(255, 255, 255, 0.1),
    inset 1px -2px 2px 2px rgba(0, 0, 0, 0.1);
  --input-number: inset 0px -3px 10px rgba(0, 0, 0, 0.05),
    inset 1px 3px 9px rgba(0, 0, 0, 0.3),

    inset 1px 1px 1px rgba(0, 0, 0, 0.2),
    inset -1px -1px 1px rgba(0, 0, 0, 0.1),
    inset 0px 2px 1px 2px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0.5px rgba(255, 255, 255, 0.3),
    1px 0px 0px 0.5px rgba(0, 0, 0, 0.2);
  /* color-scheme: light dark; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Signika', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--app-backG);
  gap: 24px;
  padding-bottom: 20px;
}

.header-container {
  width: 100%;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  border-radius: 0px 0px var(--radius) var(--radius);
  border: var(--border-main);
  background: var(--input-main-bckg);
  padding: 6px;
  gap: 8px;
  z-index: 10;
  box-shadow: var(--input-texture);
}

ul#colorList {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#themeColorForm {
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.themeItemContainer {
  width: 190px;
  min-width: fit-content;
  height: 43px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap);
  align-items: center;
  border-radius: calc(2*var(--radius));
  border: var(--border-main);
  background: var(--app-backG);
  padding: 0 14px 0 14px;
  box-shadow: var(--input-modals);
}

.container {
  width: min(60%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.colorInput {
  width: 30px;
  height: 30px;
  border: var(--border-main);
  overflow: hidden;
  border-radius: 4px;
}

.uniBtn {
  width: fit-content;
  height: 40px;
  background: var(--header-btn-backG);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2)0%, rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0.1));
  color: var(--text-color);
  font-family: 'Signika';
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  padding: 2px 8px;
  font-weight: 500;
  position: relative;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    0px 0 0 #00000024,
    1px 1px 1px rgba(0, 0, 0, 0.4);
  border: var(--border-main) solid;
  border-radius: var(--radius);
  border-bottom-color: rgba(0, 0, 0, 0.7);
  border-top-color: rgba(0, 0, 0, 0.5);
  border-right-color: rgba(0, 0, 0, 0.6);
  border-left-color: rgba(0, 0, 0, 0.6);
  box-shadow: var(--btn-shadow);
}

.uniBtn:hover,
.colorInput:hover {
  scale: 1.02;
}

.uniBtn:active {
  top: 3px;
  box-shadow: var(--btn-shadow-active);
}

.options-modal {
  width: 310px;
  height: min-content;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--gap)*1.5);
  padding: 14px;
  position: absolute;
  border-radius: 8px;
  border: var(--border-main);
  top: 60px;
  z-index: 10;
  background-color: var(--input-main-bckg);
  transition: all 250ms ease;
  box-shadow: var(--input-texture);
}

#modalHeader {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.trash-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 4px;
  border-radius: 12px;
  list-style: none;
  background-color: var(--light-grey);
  border: var(--border-main);
  transition: all 200ms ease;
  gap: 4px;
  padding: 10px 4px;
  box-shadow: var(--input-modals)
}

.trash-item.disappera {
  scale: 0.05;
}

.trash-item input {
  height: min-content;
  margin: 0 4px;
  border-radius: var(--radius);
  text-align: right;
  color: var(--text-color);
  text-align: right;
  font-family: "Digital-7", 'Signika';
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.1;
}

.trash-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
}

.input-container {
  width: 100%;
  position: relative;
  transition: all 200ms ease;
}

.input-container.disabled {
  filter: grayscale(75%) opacity(100%);
}

.input-container.removing {
  transform: scale(0);
}


.input-container.appear {
  transform: scale(0);
}

.trash-item>.input-container {
  width: 87%;
}

#trashForm {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
}

#trashForm p {
  width: fit-content;
  padding: 0 8px;
  align-self: center;
}

#trashFooter,
#themeFooter {
  display: flex;
  justify-content: center;
  gap: 12px;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  flex: 0 0 25px;
}

input[inputmode='numeric']::selection {
  background-color: rgba(0, 0, 0, 0.55);
  color: rgba(206, 206, 182, 0.96);
}

.header-input {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  min-width: 160px;
  height: min-content;
  border: 1px solid var(--input-main-stroke);
  color: var(--text-color);

  line-height: 1.1;
  font-family: 'Digital-7', 'Signika', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  text-align: right;
  gap: var(--gap);
  padding: 0 6px;
  flex: 0 1 140px;
  background: var(--input-number-bckg);
  border-radius: var(--input-radius);
  box-shadow: var(--input-number);
}

.header-input:focus-visible {
  outline: none;
}

.operation-btn {
  position: relative;
  width: 2.3rem;
  height: 2.2rem;
  min-height: auto;
  text-align: center;
  float: left;
  font-size: 18px;
  background: var(--operation-btn);
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    0px 0 0 #00000024,
    0px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  border: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.7);
  border-top-color: rgba(0, 0, 0, 0.5);
  border-right-color: rgba(0, 0, 0, 0.6);
  border-left-color: rgba(0, 0, 0, 0.6);
  flex: 0 0 2.2rem;
  box-shadow: var(--btn-shadow);
}

.bigger {
  position: relative;
  width: 3rem;
  min-height: 3rem;
}

.operation-btn:active,
.bigger:active {
  top: 3px;
  box-shadow: var(--btn-shadow-active)
}

.smaller {
  flex: 0 0 1.8rem;
  height: 1.8rem;
  ;
  border-radius: var(--radius);
  font-size: 18px;
}

.message {
  background-color: var(--operator-modal-backG, #121212);
  border: var(--border-main);
  border-radius: var(--radius);
  color: var(--text-color);
  text-align: center;
  line-height: 40px;
  font-family: 'Signika';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.input-main {
  width: 100%;
  min-width: 217px;
  height: 60px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  border: 1px solid var(--input-main-stroke);
  border-radius: var(--radius);
  background: var(--input-main-bckg);
  box-shadow: 0px 2px 2px #6b6b6b4d, 0px 4px 18px #90909080;
  gap: var(--gap);
  padding: 0 8px;
  box-shadow: var(--input-texture);
}

#trashForm .input-main {
  min-width: 206px;
  height: 50px;
  width: 90%;
  gap: 0;
}

#trashForm .slider-menu-closed {
  height: 50px;
  right: 0;
}

#trashForm .switch-indicator {
  width: 12px;
  height: 12px;
}

/* 
#trashForm .input-num {
  height: 80%;
} */

#trashForm .operation-btn {
  width: 2rem;
  height: 2rem;
  font-size: 16px;
}

.input-num {
  width: 100%;
  position: relative;
  z-index: 3;
  height: min-content;
  min-width: 42px;
  border-radius: var(--input-radius);
  border: none;
  border: var(--border-main);
  color: var(--text-color);
  line-height: 1.1;
  font-family: 'Digital-7', 'Signika', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  padding: 2px 10px 2px 6px;
  display: block;
  background: var(--input-number-bckg);
  box-shadow: var(--input-number);
}

.input-num:focus-visible {
  outline: none;
}

.input-num.modified {
  background-color: var(--input-modified-bckg);
}

.slider-menu-closed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 53px;
  height: 60px;
  position: absolute;
  right: -29px;
  top: 0;
  z-index: 1;
  border-radius: 0px var(--radius) var(--radius) 0px;
  border: solid 1px var(--secret-menu-stroke);
  background: var(--input-main-bckg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)0%, rgba(255, 255, 255, 0.3) 60%, rgba(0, 0, 0, 0.2));
  gap: 3px;
  transition: all 0.5s ease;
  box-shadow: var(--input-modals);
}

.switch-indicator {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--light-grey);
  border: 1px solid rgba(0, 0, 0, 0.618);
  list-style: none;
  margin-right: 6px;
  transition: all .2s ease;
  box-shadow: var(--input-indicators);
}

.off {
  filter: brightness(60%);
}

.on {
  /* opacity: 1; */
  filter: saturate(120%) brightness(180%);
  box-shadow: 0 0 6px 4px rgba(219, 43, 43, 0.3);
}

.switch-indicator:hover {
  opacity: 0.9;
  filter: brightness(100%);
  /* scale: 1; */
}

.switch-indicator.mod:hover {
  box-shadow: 0 0 6px 4px rgba(15, 65, 231, 0.3);
}

.switch-indicator.switch:hover {
  box-shadow: 0 0 6px 4px rgba(255, 255, 0, 0.3);
}

.switch-indicator.delete:hover {
  box-shadow: 0 0 6px 4px rgba(219, 43, 43, 0.3);
}

.slider-menu-open,
.slider-mod,
.slider-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  border-radius: var(--radius);
  border: solid 1px var(--secret-menu-stroke);
  background: var(--input-main-bckg);
  gap: 10px;
  transition: all 0.5s ease;
  box-shadow: var(--input-texture);
}

.slider-mod {
  justify-content: space-around;
  background: var(--operator-modal-backG);
  gap: 6px;
  padding: 0 8px;
  box-shadow: var(--input-modals);
}

.slider-switch {
  gap: 6px;
  padding: 0 6px;
}

.switch-menu-btn {
  position: relative;
  width: 64px;
  height: 32px;
  margin-right: 0;
  border-radius: 16px;
  border: 1px solid var(--secret-menu-stroke);
  background: var(--light-grey);
  box-shadow: var(--btn-shadow);
}

.switch-menu-btn:active {
  top: 3px;
  box-shadow: var(--btn-shadow-active)
}

.switch-btn {
  width: 64px;
  height: 32px;
  margin-right: 0;
  border-radius: 16px;
  border: 1px solid var(--secret-menu-stroke);
  background: var(--secret-menu-switch);
  transition: all 0.5s ease;
}

.slider-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 251px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  border-radius: var(--radius);
  border: solid 1px var(--secret-menu-stroke);
  background: var(--input-main-bckg);
  gap: 6px;
  transition: all 0.5s ease;
  padding: 0 6px;
  box-shadow: var(--input-texture);
}

.delete-btn {
  width: 64px;
  height: 32px;
  margin-right: 0;
  border-radius: 16px;
  border: 1px solid var(--secret-menu-stroke);
  background: var(--secret-menu-delete);
  transition: all 0.5s ease;
}

.switch-btn:hover {
  transform: scale(1.05);
}

.switch-menu-btn:hover {
  opacity: 1;
  filter: brightness(100%);
}

.switch-menu-btn.switch.indicator:hover {
  opacity: 1;
  filter: brightness(110%);
}

.switch-menu-btn.turnoff:hover {
  filter: grayscale(50%) contrast(70%);
}

.delete-btn:hover {
  transform: scale(1.05);
}

.delete-menu-btn:hover {
  opacity: 1;
}

.mod {
  background: var(--secret-menu-mod);
}

.switch {
  background: var(--secret-menu-switch);
}

.delete {
  background: var(--secret-menu-delete);
}

.operator-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 8px;
  height: 56px;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 4;
  border-radius: calc(var(--radius));
  border: solid 1px var(--secret-menu-stroke);
  background: var(--operator-modal-backG);
  gap: 6px;
  transition: all 250ms ease;
  box-shadow: var(--input-modals);
}

.operator-modal.smaller {
  width: 208px;
  height: 46px;
  top: 6px;
}

.hide {
  opacity: 0;
  display: none;
}